{{- if .personal -}}
{{ if (index .credentials "openai_api_key") }}
{{- .credentials.openai_api_key -}}
{{ else }}
your_openai_api_key_here
{{ end }}
{{- else -}}
your_openai_api_key_here
{{- end -}}
